* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  background: #161616;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}
svg {
  display: none;
  position: absolute;
}
a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  background: #f74646;
  color: white;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  transition: transform 0.2s ease;
}
a:hover {
  transform: scale(0.9);
}
